<!doctype html>
<html lang="en" ng-app="galleryApp">
<head>
  <meta charset="UTF-8">
  <title>rudebega</title>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
  <script src="app.js"></script>
  <link rel="stylesheet" href="css/style.css">

  
</head>
<body>
	<div class="body-container">
	    <div class="main-container">
			<div class="nav-container" ng-controller="projectcontroller">
				<div class="nav-link" id="about">ABOUT</div>
				<div class="nav-link" id="custom">CUSTOM</div>
				<div class="nav-link" id="cartesia">CARTESIA</div>
				<div class="nav-link" id="journal">JOURNAL</div>
				<button ng-click="show(image.id)">ckucj</button>
			</div>

			<div class="content-container">
				<div class="gallery-container" ng-controller="gallerycontroller" >
					<div class="gallery-item" ng-repeat="image in galleryimages">
						<img class="gallery-item-image" ng-src="images/{{image.image}}" />
						<div class="gallery-item-text">{{image.title}}</div>
						<button ng-click="show(image.id)">ckucj</button>
					</div>
				</div>
			</div>

			<div id="test">
				<span directive="exp"></span>
			</div>
		</div>
	</div>
</body>
</html>