<!doctype html>
<html lang="en" ng-app="galleryApp">
<head>
  <meta charset="UTF-8">
  <title>rudebega</title>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
  <script src="rudebega-app.js"></script>
  <link rel="stylesheet" href="css/style.css">

  
</head>
<body ng-controller="GalleryController">
    <div class="main-container" >
		<div class="nav-container">
			<div class="nav-link" id="about">About</div>
			<div class="nav-link" id="custom">Custom</div>
			<div class="nav-link" id="cartesia">Cartesia</div>
			<div class="nav-link" id="journal">Journal</div>
		</div>

		<div class="gallery-container">
			<div class="table">
<!-- 				
        <div class="gallery-item" ng-repeat="image in images">
					<div class="gallery-item-image">{{image.thumbnail}}</div>
					<div class="gallery-item-text">{{image.description}}</div>
				</div> 
      -->

        <li ng-repeat="image in galleryData">
          <a ng-href="" ng-click="scrollTo(image,$index)">
            <img class="thumbnail" ng-src="{{IMAGE_LOCATION+image.title}}" />
          </a>
        </li>
			

      </div>

		</div>
	</div>
</body>
</html>